@import './services.scss';
@import './cardServices.scss';
@import './modal.scss';
@import './variables.scss';
@import './post.scss';

body{
	color: #1E1E1E;
	font-size: 14px;
	background: #ffffff;
	font-family: 'Montserrat', sans-serif;
	min-width: 320px;
	line-height: 1.3;
	margin: 0;
}
.container{
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
}


