@import './variables.scss'; 
@mixin box-shadow($shadows...) {
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}

@mixin colors($text: #000, $background: #fff, $border: $color-space-gray) {
    color: $text;
    background-color: $background;
    border-color: $border;
  }